body {
  background: linear-gradient(to bottom, #A8BCA1 65%, #A0BF93 35%);
  margin-left: 100px;
}

h1 {
  font-family: Dancing Script;
  font-style: italic;
  text-align: center;
  font-size: 50px;
  margin-bottom: -50px;
}

h2 {
  font-size: 30px;
}

#divFotoJosue {
  position: relative;
  margin-top: 80px;
  height: 412px;
  width: 1142px;
  padding-bottom: 120px;
}

.fotoJosue {
  margin-left: 100px;
  width: 250px;
  background: radial-gradient(red, yellow);
}

#listaIndice {
  font-size: 18px;
  margin-bottom: 80px;
}

#listaHobbies {
  font-size: 18.5px;
}

.subTitulo {
  font-size: 30px;
  margin-bottom: -8px;
  margin-top: 10px;
}

#listaHabilidades {
  font-size: 18px;
  margin-bottom: 100px;
}

#bomdia {
  font-size: 30px;
  position: absolute;
  top: 2%;
  left: 42%;
}

#introducao {
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 39%;
}

section {
  background: linear-gradient(to bottom, #738C69 55%, #677A5F 45%);
  margin-left: -100px;
  margin-right: -8px;
  margin-bottom: -100px;
  margin-top: -50px;
}

#divHabilidadesHobbies {
  margin-left: 100px;
  margin-top: 50px;
}

#hobbies {
  margin-top: -70px;
}

#indice {
  margin-bottom: -8px;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/Dancing_Script_Regular.24.ttf");
}